* {
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(54deg, black, rgb(16, 16, 16));
    width: 100vw;
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
.container {
  color: white;
  font-family: 'poppins';
  font: 800 40px system-ui;
  display: flex;
  gap: 5px;
}
  
  #rolling-numbers {
    counter-reset: num var(--num);
  }
  #rolling-numbers::after {
    content: counter(num);
  }
  @media (prefers-reduced-motion: no-preference) {
    .animation {
        animation: counter 5s forwards ease-in-out;
    }
  }
  